div
{
    
     font-family: 'Muli', sans-serif;
     font-size: 15px;
    
}


span
{
    
     font-family: 'Muli', sans-serif;
     font-size: 15px;
    
}

.btn-danger {

  position: fixed;
  right: 350px;
  top:  200px;
  padding:  35px;


}

.btn-primary {
    
      position: fixed;
      right: 250px;
      top: 200px;
    
}